<MudCarousel Class="mud-width-full" Style="height:93vh;" TData="object">
    <CarouselItem
        ItemImage="images/carousel-image3.jpg"
        BigText="Welcome to Therania"
        ItemText="Therania is a full stack mental health website, you can book therapist to chat, audio call, video call them.">
    </CarouselItem>

    <CarouselItem
        ItemImage="images/carousel-image2.jpg"
        BigText="Full stack website"
        ItemText="I made the frontend and backend of the app using mainly microsoft technologies">
    </CarouselItem>

    <CarouselItem
        ItemImage="images/carousel-image3.jpg"
        BigText="Made with .NET"
        ItemText="Therania is made with Blazor and Mudblazor on the frontend, asp.net core, ef core and web api on the backend, and ms sql database">
    </CarouselItem>
    @* <MudCarouselItem Transition="_transition" Color="@Color.Secondary"> *@
    @*     <div class="d-flex" style="height:100%"> *@
    @*         <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large"/> *@
    @*     </div> *@
    @* </MudCarouselItem> *@
    @* <MudCarouselItem Transition="_transition"> *@
    @*     <div class="d-flex" style="height:100%"> *@
    @*         <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large"/> *@
    @*     </div> *@
    @* </MudCarouselItem> *@
</MudCarousel>